<% provide(:admin_page, "admin") %>

<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
<div>Hello i am business <%= @business.id %></div>
