<% provide(:sub_title, "Menu") %>
<%= render "shared/admin_content_container" do %>
  <div data-controller="toggle" data-toggle-change-class="active">

    <div class="py-3 border_bottom_gray">
      <h1>Menus</h1>
      <div><%= link_to "+ Add a new menu", new_menu_path, data: { turbo_frame: "menu_new" } %> </div>
    </div>

    <%= turbo_frame_tag "menu_new" %>

    <div id="menus" class="border_bottom_gray menus">
      <%= render partial: "menu_button", collection: @menus, as: :menu %>
    </div>

    <%= turbo_frame_tag "menu_content" %>

  </div>
<% end %>
