<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="select" data-select-url-value="<%= available_reservations_path %>">
    <div>
      <%= form.label :business_id, style: "display: block" %>
      <%= form.number_field :business_id, { data: { select_target: "business" } } %>
    </div>

    <div>
      <%= form.label :party_size, style: "display: block" %>
      <%= form.select :party_size, options = party_size_choices(), { selected: 2 }, { data: { select_target: "partySize" } } %>
    </div>

    <div class="time">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date, { value: Date.today, class: "date-picker", data: { action: "change->select#change", select_target: "date" } } %>
    </div>

    <div class="time">
      <%= form.label :hour, style: "display: block" %>
      <%= form.select :hour, options = time_choices(), {}, { data: { action: "change->select#change", select_target: "hour" } } %>
    </div>

    <div class="time">
      <%= form.label :time, "Restaurant currently has available tables at", style: "display: block" %>
      <%= form.select :time, [], {}, { data: { select_target: "time" } } %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
