<div id="<%= dom_id reservation %>">
  <p>
    <strong>Restaurant:</strong>
    <%= RestaurantProfile.find_by(business_id: reservation.table.business_id).name %>
  </p>

  <p>
    <strong>Table number:</strong>
    <%= reservation.table.number %>
  </p>

  <p>
    <strong>Party size:</strong>
    <%= reservation.party_size %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= reservation.time %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Occation:</strong>
    <%= reservation.occation %>
  </p>
  
  <p>
    <strong>Sepcial request:</strong>
    <%= reservation.special_request %>
  </p>

  <p>
    <strong>Reservation status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Cancel log:</strong>
    <%= reservation.cancel_log %>
  </p>

</div>
