<%= render "shared/small_container" do %>
  <h2><strong>Cancel form</strong></h2>

  <%= form_with(model: @reservation, url: cancel_reservation_url(@reservation)) do |form| %>
    <% if @reservation.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
          <% @reservation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :reason_for_cancel, style: "display: block" %>
      <%= form.text_field :reason_for_cancel %>
    </div>

    <div>
      <%= form.submit "Cancel Reservation", class: "main-button main-button--red main-button--super main-button--rectangle" %>
    </div>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to reservation", @reservation %>
  </div>
<% end %>