<%= form_with(model: table) do |form| %>
  <% if table.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
        <% table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number, placeholder: "The number of the table" %>
  </div>

  <div>
    <%= form.label :seats, style: "display: block" %>
    <%= form.number_field :seats, placeholder: "The number of seats" %>
  </div>

  <div>
    <%= form.label :seating_option_id, style: "display: block" %>
    <%= form.collection_select :seating_option_id, current_business.seating_options, :id, :name %>
  </div>

  <div>
    <%= form.submit "Save", class: "main-button main-button--red" %>
    <%= link_to "Cancel", new_table_url(message: "cancel"), class: "mx-3" unless table.persisted? %>
  </div>
<% end %>
