<%= form_with(model: seating_option) do |form| %>
  <% if seating_option.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(seating_option.errors.count, "error") %> prohibited this seating_option from being saved:</h2>

      <ul>
        <% seating_option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Save", class: "main-button main-button--red" %>
    <%= link_to "Cancel", new_seating_option_url(message: "cancel"), class: "mx-3" unless seating_option.persisted? %>
  </div>
<% end %>
