<%= form_with(model: restaurant_profile) do |form| %>
  <% if restaurant_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant_profile.errors.count, "error") %> prohibited this restaurant_profile from being saved:</h2>

      <ul>
        <% restaurant_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert-important">Fields marked with * are required</div>
  <div>
    <%= form.label "Name *", style: "display: block" %>
    <%= form.text_field :name, placeholder: "Your restaurant's name" %>
  </div>

  <div>
    <%= form.label "Description *", style: "display: block" %>
    <%= form.text_area :description, placeholder: "Some details about your restaurant" %>
  </div>

  <div>
    <%= form.label "Phone *", style: "display: block" %>
    <%= form.text_field :phone, placeholder: "e.g. (316) 361-6667" %>
  </div>

  <div>
    <%= form.label "Address *", style: "display: block" %>
    <%= form.text_field :address, placeholder: "Enter restaurant address" %>
  </div>

  <div class="time">
    <%= form.label "Opening Time *", style: "display: block" %>
    <%= form.time_select :opening_time, { prompt: { hour: "Hour", minute: "Minute" } } %>
  </div>

  <div class="time">
    <%= form.label "Closing Time *", style: "display: block" %>
    <%= form.time_select :closing_time, { prompt: { hour: "Hour", minute: "Minute" } } %>
  </div>

  <div class="time">
    <%= form.label "Dinning Duration *", style: "display: block" %>
    <span class="color_gray">Default is 180 minutes (3 hours)</span>
    <%= form.number_field :dining_duration, value: restaurant_profile.persisted? ? restaurant_profile.dining_duration : 180 %>
  </div>

  <div>
    <%= form.label "Price *", style: "display: block" %>
    <%= form.text_field :price, placeholder: "E.g. $50 and over" %>
  </div>

  <div>
    <%= form.label "Cuisine *", style: "display: block" %>
    <%= form.text_field :cuisine, placeholder: "E.g. Steakhouse, Steak, Seafood" %>
  </div>

  <div>
    <%= form.label :dining_style, style: "display: block" %>
    <%= form.text_field :dining_style, placeholder: "E.g Casual Dining" %>
  </div>

  <div>
    <%= form.label :dress_code, style: "display: block" %>
    <%= form.text_field :dress_code, placeholder: "Casual Dress" %>
  </div>

  <div>
    <%= form.label :parking_details, style: "display: block" %>
    <%= form.text_field :parking_details, placeholder: "Private Lot" %>
  </div>

  <div>
    <%= form.label :payment_options, style: "display: block" %>
    <%= form.text_field :payment_options, placeholder: "AMEX, Discover, Mastercard, Visa" %>
  </div>

  <div>
    <%= form.label :executive_chef, style: "display: block" %>
    <%= form.text_field :executive_chef, placeholder: "Your executive chef's name" %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website, placeholder: "Your website" %>
  </div>

  <div>
    <%= form.label :catering, style: "display: block" %>
    <%= form.text_area :catering, placeholder: "E.g This spacious 900sq ft dining area is ideal for larger groups" %>
  </div>

  <div>
    <%= form.label :private_party_facilities, style: "display: block" %>
    <%= form.text_area :private_party_facilities, placeholder: "Enter if you have facilities for these events" %>
  </div>

  <div>
    <%= form.label :additional, style: "display: block" %>
    <%= form.text_area :additional, placeholder: "Tags to help customer find you" %>
  </div>

  <div>
    <%= form.submit "Save", class: "main-button main-button--red" %>
  </div>
<% end %>
