<div id="<%= dom_id restaurant_profile %>">
  <p>
    <strong class="d-block">Name:</strong>
    <%= restaurant_profile.name %>
  </p>

  <p>
    <strong class="d-block">Description:</strong>
    <%= restaurant_profile.description %>
  </p>

  <p>
    <strong class="d-block">Phone:</strong>
    <%= restaurant_profile.phone %>
  </p>

  <p>
    <strong class="d-block">Address:</strong>
    <%= restaurant_profile.address %>
  </p>

  <p>
    <strong class="d-block">Hours of operation:</strong>
    <%= restaurant_profile.hours_of_operation %>
  </p>

  <p>
    <strong class="d-block">Price:</strong>
    <%= restaurant_profile.price %>
  </p>

  <p>
    <strong class="d-block">Cuisine:</strong>
    <%= restaurant_profile.cuisine %>
  </p>

  <p>
    <strong class="d-block">Dining style:</strong>
    <%= restaurant_profile.dining_style %>
  </p>

  <p>
    <strong class="d-block">Dress code:</strong>
    <%= restaurant_profile.dress_code %>
  </p>

  <p>
    <strong class="d-block">Parking details:</strong>
    <%= restaurant_profile.parking_details %>
  </p>

  <p>
    <strong class="d-block">Payment options:</strong>
    <%= restaurant_profile.payment_options %>
  </p>

  <p>
    <strong class="d-block">Executive chef:</strong>
    <%= restaurant_profile.executive_chef %>
  </p>

  <p>
    <strong class="d-block">Website:</strong>
    <%= restaurant_profile.website %>
  </p>

  <p>
    <strong class="d-block">Catering:</strong>
    <%= restaurant_profile.catering %>
  </p>

  <p>
    <strong class="d-block">Private party facilities:</strong>
    <%= restaurant_profile.private_party_facilities %>
  </p>

  <p>
    <strong class="d-block">Additional:</strong>
    <%= restaurant_profile.additional %>
  </p>

</div>
